:root{
    --main-color: #ff9800;
}
html {
    scroll-behavior: smooth;
}  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start Settings Box  */
.settings-box{
    position: fixed;
    left: -300px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #eee;
    width: 300px;
    height: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.settings-box.active{
    left: 0px;
}
.icon{
    position: absolute;
    top: 50%;
    right: -50px;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--main-color);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.icon.active{
    right: -20px;
}
.icon::before{
    content: '';
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggel-settings-boxs{
    width: 100%;
    height: 100%;
}
.toggel-settings-boxs .optins-box{
    padding: 30px 0 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
}
.toggel-settings-boxs h4{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}
.toggel-settings-boxs .optins-box .toggel-color{
    margin: 0;
    padding: 10px;
}
.toggel-settings-boxs .optins-box .toggel-color li{
    list-style: none;
    margin-top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    opacity: 0.5;
    cursor: pointer;
}
.toggel-settings-boxs .optins-box .toggel-color li.active{
    opacity: 1;
}
.toggel-settings-boxs .optins-box .toggel-color li:first-child{
    background-color: #ff9800;
}
.toggel-settings-boxs .optins-box .toggel-color li:nth-child(2){
    background-color: #E91E63;
}
.toggel-settings-boxs .optins-box .toggel-color li:nth-child(3){
    background-color: #009688;
}
.toggel-settings-boxs .optins-box .toggel-color li:nth-child(4){
    background-color: #03A9F4;
}
.toggel-settings-boxs .optins-box .toggel-color li:nth-child(5){
    background-color: #4CAF50;
}
.settings-box .optins-box .yes ,
.settings-box .optins-box .no{
    display: inline-block;
    margin: 15px 0 10px 10px;
    background-color: var(--main-color);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0.5;
}
.settings-box .optins-box .random-bakground span.active{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 1;
}
/* End Settings Box  */
/* start landing page  */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/landing-1.jpg);
    background-size: cover;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.landing-page .overlay{
    background-color: #00000061;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area{
    position: fixed;
    z-index: 100;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.header-area .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header-area .linkes{
    display: none;
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: 10px;
}
@media screen and (max-width: 767px) {
    .header-area .linkes{
        display: block;
    }
}
.header-area .linkes.active span:nth-child(2){
    display: none;
}
.header-area .linkes.active span:last-child{
    background-color: red;
    transform: rotate(45deg) translateY(7px);
    -webkit-transform: rotate(45deg) translateY(7px);
    -moz-transform: rotate(45deg) translateY(7px);
    -ms-transform: rotate(45deg) translateY(7px);
    -o-transform: rotate(45deg) translateY(7px);
}
.header-area .linkes.active span:first-child{
    background-color: red;
    transform: rotate(-45deg) translateY(-5px);
    -webkit-transform: rotate(-45deg) translateY(-5px);
    -moz-transform: rotate(-45deg) translateY(-5px);
    -ms-transform: rotate(-45deg) translateY(-5px);
    -o-transform: rotate(-45deg) translateY(-5px);
}
.header-area .linkes span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.header-area .linkes span:not(:last-child){
    margin-bottom: 2px;
}
.header-area .linkes span:first-child{
    top: 4px;
}
.header-area .linkes span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header-area .linkes span:last-child{
    bottom: 4px;
}
.header-area ul{
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
    width: 100%;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .header-area ul{
        display: none;
    }
}

.header-area ul li{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
    .header-area ul.active{
        display: block;
        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #333;
        z-index: 100;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .header-area ul li.active{
        display: block;
        text-align: center;
        padding: 20px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}
.header-area ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header-area ul li a:hover , 
.header-area ul li a.active{
    color: var(--main-color);
}
.landing-page .introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.landing-page .introduction-text h1{
    font-size: 34px;
    margin: 0 0 12px;
}
@media screen and (max-width: 767px) {
    .landing-page .introduction-text h1{
        width: 250px;
        font-size: 20px;
    }
}
.landing-page .introduction-text h1 span{
    color: var(--main-color);
}
.landing-page .introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .landing-page .introduction-text p{
        font-size: 17px;
    }
}
/* End landing page  */
/* Start About Us  */
.about{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}
@media  (max-width: 1125px) {
    .about{
        display: block;
    }
}
.about .text {
    flex: 1;
}
@media  (max-width: 1125px) {
    .about .text {
        text-align: center;
    }
}
.about .text h2{
    color: var(--main-color);
    margin-bottom: 10px;
}
.about .text p{
    line-height: 1.9;
}
@media  (max-width: 1125px) {
    .about .text p{
        width: 70%;
        margin: 0 auto 40px ;
    }
}
.about .image{
    flex: 1;
}
.about .image img{
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media  (max-width: 1125px) {
    .about .image{
        flex: 0;
        text-align: center;
    }
    .about .image img{
        width: 70%;
    }
}
/* End About Us  */
/* Start Skills  */
.skills{
    padding: 90px 0;
    background-color: #eee;
}
.skills h2{
    color: var(--main-color);
    margin-bottom: 30px;
    text-align: center;
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
}
.skills .skill-box .skill-progress{
    width: 100%;
    height: 30px;
    background-color: #dddddd56;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 3s linear;
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -ms-transition: 3s linear;
    -o-transition: 3s linear;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 3s linear;
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -ms-transition: 3s linear;
    -o-transition: 3s linear;
}
.skills .skill-box .skill-progress .number{
    position: absolute;
    top: -35px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 3s linear;
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -ms-transition: 3s linear;
    -o-transition: 3s linear;
    text-align: center;
    line-height: 25px;
    color: white;
    display: none;
    z-index: 4;
}
.skills .skill-box .skill-progress .number::before{
    content: "";
    position: absolute;
    bottom:  -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 3s linear;
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -ms-transition: 3s linear;
    -o-transition: 3s linear;
    border-style: solid;
    border-width: 8px;
    border-color: var(--main-color) transparent transparent transparent ;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* End Skills  */
/* Start Gallery  */
.gallery{
    padding: 90px 0;
}
.gallery h2{
    color: var(--main-color);
    margin-bottom: 30px;
    text-align: center;
}
.gallery .box{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    
}
.gallery .box .box-item{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
@media (max-width: 360px){
    .gallery .box .box-item{
        width: 80%;
        height: 80%;
    }
    .gallery .box{
        
        grid-template-columns: repeat(auto-fill , minmax(190px , 1fr));
        
    }
}
.gallery .box .box-item img{
    width: 100%;
    max-height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.gallery-overlay{
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.738);
}
.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.251);
    z-index: 400;
}
.popup-box img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 100%;
}
.gallery-titel{
    text-align: center;
    margin: 20px 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 19px;
}
.close{
    background-color: var(--main-color);
    position: absolute;
    top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -6px;
    cursor: pointer;
}
/* End Gallery  */
